*.log
*.out
*.6
*.pyc
*.swp
*.db
/src
/pkg
/bin
/genfiles/
bazel-*
.cache
terraform.tfstate.backup
.lego
.terraform
/_run/
*.pem
*.crt
*.csr
*.key
/_deploy/
*/griddle_lambda
*/lambda_list_scores
*/lambda_push_score
